.card{
    display:grid;
    align-items: center;
    width: fit-content;
    height: fit-content;
   
}
.row{
    z-index: 0;
    background-color: transparent;
}
.card-image{
    z-index: 10;
}
.card-content{
    z-index: 100;
    position:relative;
}