.card {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.row {
  position: relative;
  z-index: 1;
}

.card-image {
  position: relative;
  z-index: 1;
}

.card-content,
.card-action {
  position: relative;
  z-index: 2;
}
