.card {
  position: relative;
  width: 100%;
}

.row {
  position: relative;
  overflow: visible;
}

.card-image {
  position: relative;
}

.card-image img {
  width: 100%;
  display: block;
}

.card-content,
.card-action {
  position: relative;
  z-index: 2;
  background: white;
}

