/* Let Materialize control layout */
.card {
  width: 100%;
}

.card-image img {
  width: 100%;
  display: block;
}

/* Prevent mobile overlap bug */
.card-content,
.card-action {
  position: static;
}


